@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add an engineer to machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <div class="form-group">
    @Html.Label("Engineer")
    @Html.DropDownList("EngineerId", null, "-- Select an engineer --", new { @class = "form-control" })
  </div>

  <button type="submit" class="btn btn-success">Add Engineer</button>
}

<p>@Html.ActionLink("Back to List", "Index")</p>