@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName, "Machine Name")
  <br>
  @Html.EditorFor(model => model.MachineName)
  <br>
  @Html.LabelFor(model => model.InstallDate, "Install Date:")
  @Html.EditorFor(model => model.InstallDate)
  <br>
  @Html.LabelFor(model => model.LastInspection, "Last Inspection Date:")
  @Html.EditorFor(model => model.LastInspection)
  <br>

<button type="submit" class="btn btn-success">Save Edit</button>
}
<p>@Html.ActionLink("Back to list", "Index")</p>