@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a machine to Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

  <div class="form-group">
    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId", null, " -- Select Machine --", new {@class = "form-control" })
  </div>

  <button type="submit" class="btn btn-success">Add Machine</button>
}
<p>@Html.ActionLink("Back to list", "Index")</p>