@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer
<h1>Engineer Details🧑‍🔧</h1>
<hr />
<h3><strong>Engineer Name:</strong> @Html.DisplayFor(model => model.Name)</h3> 
@* <h3>@Html.DisplayNameFor(model => model.Machine): @Html.DisplayFor(model => model.Machine.MachineName)</h3> *@

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer has not been authorized to repair any machines yet.</p>
}
else
{
  <h4>This engineer is authorized to work on these machines: </h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li> @join.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <button type="submit" class="btn btn-success">Delete Machine</button>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId }) | @Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId }) |
@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId }) </p>
