@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Edit</h1>

<h3><strong>Edit this engineer:</strong> @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @* @Html.LabelFor(model => model.Machine)
  @Html.DropDownList("MachineId") *@

  <button type="submit" class="btn btn-success">Save edit</button>
}