@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Dr.SillyStringz's Factory</h1>
<h2>Manage Engineers and Machines</h2>
<hr>

<h4>dfhnzfdgn</h4>
@if (Model["machines"].Length == 0)
{
  <p>No categories have been added yet!</p>
} 
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.MachineName, "Details", "Machines", new { id = @machine.MachineName})</li>
  }
</ul>

<h4>Engineers</h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet!</p>
} 
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>

<hr>

<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p> 
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>
